<div class="split team left">
    <p class="texto"><%= @team.name %></p>

    <div style="margin: auto;">
        <span class="entypo-pencil">
            <form method="POST" action="/teams/<%= @team.id %>/edit/name">
                <input id="hidden" type="hidden" name="_method" value="PATCH">

                <input type="text" name="team[name]"></input>
                <input class="discreet_button" type="Submit" value="Change Name"></input>
            </form>
        </span>
    </div>
    <br>

    <% @team.players.all.each do |player| %>
        <div class="user-profile">
            <img class="avatar" src="<%= player.picture_path%>" alt="Ash" />
            <div class="username"><%= player.name%></div>
            <div class="bio"><%= player.role %></div>
            <div class="description"><%= player.team %></div>
            <ul class="data" style="background: #ac0404;">
                <li>
                    <form method="POST" action="/teams/<%= @team.id %>/player_removal/<%= player.id %>">
                    <input id="hidden" type="hidden" name="_method" value="DELETE">
            
                    <span class="entypo-trash"> 
                        <input class="discreet_button" type="Submit" value="Remove from team"></input>
                    </span>
                    </form>
                </li>
                
            </ul>
        </div>
        <br><br><br>
            
    <% end %>

</div>


<div class="split team right">
<p class="texto">Players Left to Pick</p>
  
    <% players_left = Player.all.select do |player| !@team.players.include?(player) end %>

    <% players_left.each do |player| %>
    <!--SHOULDNT SHOW PLAYERS THAT ARE IN THE TEAM ALREADY-->
        <form method="post" action="/teams/<%= @team.id %>/edit">
            <input id="hidden" type="hidden" name="_method" value="PATCH">
            <input id="hidden" type="hidden" name="player_id" value="<%=player.id%>">
            <div class="user-profile">
                <img class="avatar" src="<%= player.picture_path%>" alt="Ash" />
                    <div class="username"><%= player.name%></div>
                    <div class="bio"><%= player.role %></div>
                <div class="description"><%= player.team %></div>
                <ul class="data">
                    <% player.stats.split(',').each do |stat| %>
                        <li>
                            <span> <%= stat %></span>
                        </li>
                    <% end %>
                    <li style="background-color: green; bottom-right-radius:  0 0 .3em .3em;">
                        <span class="entypo-user"> <input class="discreet_button" type="submit" value="Add"></span>
                    </li>
                </ul>
                
            </div>
            
        <br><br><br>
        </form>
        
    <% end %>
</div>