
<div class="split team left">
<p class="texto">My Team</p>

    <% @team.players.all.each do |player| %>
        <div class="user-profile">
            <img class="avatar" src="<%= player.picture_path%>" alt="Ash" />
                <div class="username"><%= player.name%></div>
                <div class="bio"><%= player.role %></div>
            <div class="description">I use to design websites and applications for the web.</div>
            <ul class="data" style="background: #ac0404;">
                <li>
                    <form method="POST" action="/teams/<%= @team.id %>/player_removal/<%= player.id %>"
                    <input id="hidden" type="hidden" name="_method" value="DELETE">
            
                    <span class="entypo-trash"> 
                        <input style="background-color: transparent; border: hidden; color: white;" type="Submit" value="Remove this player from my team"></input>
                    </span>
                    </form>
                </li>
                
            </ul>
        </div>
        <br><br><br>
            
    <% end %>

</div>


<div class="split team right">
<p class="texto">Players Left to Pick</p>
  
    <% Player.all.each do |player| %>
    <!--SHOULDNT SHOW PLAYERS THAT ARE IN THE TEAM ALREADY-->
        <form method="post" action="/teams/<%= @team.id %>/edit">
            <input id="hidden" type="hidden" name="_method" value="PATCH">
            <input id="hidden" type="hidden" name="player_id" value="<%=player.id%>">
            <div class="user-profile">
                <img class="avatar" src="<%= player.picture_path%>" alt="Ash" />
                    <div class="username"><%= player.name%></div>
                    <div class="bio"><%= player.role %></div>
                <div class="description">I use to design websites and applications for the web.</div>
                <ul class="data">
                    <li>
                        <span class="entypo-heart"> <%= player.stats %></span>
                    </li>
                    <li>
                        <span class="entypo-eye"> 853</span>
                    </li>
                    <li>
                        <span class="entypo-user"> 311</span>
                    </li>
                    <li style="background-color: green; bottom-right-radius:  0 0 .3em .3em;">
                        <span class="entypo-user"> <input class="discreet_button" type="submit" value="Add"></span>
                    </li>
                </ul>
                
            </div>
            
        <br><br><br>
        </form>
        
    <% end %>
</div>