<p class="texto">Here is your team</p>

<% @team.players.all.each do |player|%>
  <div class="user-profile">
    <img class="avatar" src="<%= player.picture_path%>" alt="Ash" />
    <div class="username"><%= player.name%></div>
    <div class="bio">
      <%= player.role %>
    </div>
    <div class="description">
      <%= player.team %>
    </div>
    <ul class="data">
      <% player.stats.split(',').each do |stat| %>
        <li>
          <span> <%= stat %></span>
        </li>
      <% end %>
  </ul>
  </div>
  <br><br><br>

 <% end %>
<br>
<div>
  <a href="/teams/<%=@team.id%>/edit" class="button">Edit this team</a><br><br><br><br>

  <form method="POST" action="/teams/<%=@team.id%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">

    <input type="submit" class="button" value="Delete this team">
  </form>
</div>